<!DOCTYPE html>
<html lang="en">
<a href="/">
    <img src="static/backarrow.jpg" style="width:100px;height;100px;">
</a>
<center>
    <img src="static/goldenrubberduck.jpg">
<head>
    <meta charset="UTF-8">
    <title>Golden Rubber Duck!</title>
   <p>Golden rubber duck!</p>
    <h1>Golden Rubber Duck - ₪500</h1>
    <h2>This golden rubber duck is sourced from Olimpiada Gold Mine in Russia. </br> Weight: 0.5 KG</h2>
</head>
<body>
<a href="/cart">
<img src="static/buynow.png" style="width:350    px;height:100px;">
</a>

</center>
</body>
</html>
